<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>IncrElastoMania - Elma Simulation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap-vue.min.css" />
	<!-- Load polyfills to support older browsers -->
	<script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

	<script src="js/vue.min.js"></script>
	<script src="js/bootstrap-vue.min.js"></script>
	<script src="js/bootstrap-vue-icons.min.js"></script>
	<style>
		.pointer{cursor:pointer;}
		.headlines .list-group-item { font-size:20px; padding-left:20px; }
		.headlines .list-group-item svg { font-size:30px; cursor:pointer; position:absolute; top:13px; }
	</style>
</head>

<body>
	<div id="vue-app" class="">
		<!--<b-nav>
			<b-nav-item active>Active</b-nav-item>
			<b-nav-item>Link</b-nav-item>
			<b-nav-item>Another Link</b-nav-item>
			<b-nav-item disabled>Disabled</b-nav-item>
		</b-nav>-->
		
		<div class="container">
			<h1>IncrElastoMania <small>Elma Simulation</small></h1>
			<h5>Code Name: Elma 4D QLED 8K</h5>
			<b-button variant="success" @click="save();">Save</b-button>
			<b-button variant="warning" @click="bugReport = !bugReport">Bug Report</b-button>
			<a target="_blank" href="https://github.com/RobinManoli/IncrElastoMania">GitHub</a>
			<b-button variant="danger" @click="if (confirm('Lose all changes and restart?')) reset();"  style="float:right;">Reset</b-button>
			<b-button variant="warning" @click="load();" style="float:right;">Load</b-button>

			<div v-if="bugReport" style="margin:1em;">
				If you found a bug, please report it on
				<a target="_blank" href="https://github.com/RobinManoli/IncrElastoMania/issues">GitHub</a>
				or <a target="_blank" href="https://mopolauta.moposite.com/viewtopic.php?f=3&t=10065">mopolauta</a>.
				Remember to describe the bug, and also copypaste this data below:<br>
				<textarea style="width:100%;">{{ JSON.stringify(saveData({})) }}</textarea>
			</div>

			<b-list-group class="mb-5 headlines">
				<b-list-group-item v-for="headline, i in headlines.slice(headlineCursor, headlineCursor+headlinesShown)" variant="info">
					<b-icon v-if="i == 0 && headlineCursor != 0" icon="arrow-up" @click="headlineCursor--"></b-icon>
					<b-icon v-else-if="i == headlinesShown - 1 && headlineCursor != headlines.length - headlinesShown" icon="arrow-down" @click="headlineCursor++"></b-icon>
					<b-icon v-else icon="bullseye"></b-icon>
					&nbsp; &nbsp; &nbsp; {{ headline }}
				</b-list-group-item>
			</b-list-group>

			<b-row>
				<b-col>
					<b-list-group>
						<b-list-group-item v-for="obj in lcol">
							<object-item :obj="obj" :debug="debug" :gameover="gameOver"></object-item>
						</b-list-group-item>
					</b-list-group>
				</b-col>
				<b-col>
					<b-list-group>
						<b-list-group-item v-for="obj in rcol" variant="warning">
							<object-item :obj="obj" :debug="debug" :gameover="gameOver"></object-item>
						</b-list-group-item>
					</b-list-group>
				</b-col>
			</b-row>
		</div>
	</div>
	<div class="container" style="text-align:center; margin-top:5em;">
		Share this game with whoever is standing behind your shoulder:<br>
		<a id="page-qr-code-a" href=""></a><br>
		<img src="" id="page-qr-code-img" /><br>
		<script>
			var pageURL = window.location.href;
			data = encodeURIComponent(pageURL);
			qrURL = "https://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&data=" +data+ "&qzone=1&margin=0&size=300x300&ecc=L";
			document.getElementById('page-qr-code-img').setAttribute('src', qrURL);
			document.getElementById('page-qr-code-a').setAttribute('href', pageURL);
			document.getElementById('page-qr-code-a').innerHTML = pageURL;
		</script>
		<br>
		<h5>Resources</h5>
		<a target="_blank" class="btn btn-warning"  href="https://github.com/RobinManoli/IncrElastoMania">Github</a>
		<a target="_blank" class="btn btn-success" href="https://elastomania.com">Elma</a>
		<a target="_blank" class="btn btn-success"  href="https://elma.online">Battle</a>
		<a target="_blank" class="btn btn-success"  href="https://moposite.com">Moposite</a>
		<a target="_blank" class="btn btn-success"  href="https://mopolauta.moposite.com/">Mopolauta</a>
	</div>
	<script src="objects.js?v=1"></script>
	<script src="components.js?v=1"></script>
	<script src="game.js?v=1"></script>
</body>
</html>